### Jekyll ###
_site
_gh_pages
_.sass-cache
_site/
.cache
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
/assets/js/*hydejack-*
/_sass/*/__*__/*

node_modules
vendor
.bundle
.sass-cache

.jekyll-cache
*.gem

.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace

./#jekyll-theme-hydejack/node_modules
./#jekyll-theme-hydejack/.git
vendor
Gemfile
Gemfile.lock

**/.DS_Store
.DS_Store